body
{
    text-align: left;
}
body
{
    margin-left: 23%;
}
body
{
    margin-right: 23%;
}
body
{
    font-size: 18px;
}
body
{
    color: #444;
}
p
{
    margin: 7mm;
}
p
{
    margin-left: 0mm;
}
p
{
    line-height: 8mm;
}
ul
{
    line-height: 8mm;
}
